extends ../templates/comic

block title
    | First

block comic
    img(src='../images/jordan.jpg')
    img(src='../images/jordan2.jpg')
    img(src='../images/mom.jpg')
    img(src='../images/dad.jpg')
    img(src='../images/ash.jpg')
    img(src='../images/sophie.jpg')

block blogTitle
    | Hello world

block blog
    p Here is some concept art for the comic!
    p From left to right, top to bottom: Jordan, Jordan (again), Jordan's Mom, Dad, Ash (friend), Sophie (friend)
    