extends ../templates/comic

block title
    | First

block comic
    img(src='jordan.jpg')
    img(src='jordan2.jpg')
    img(src='mom.jpg')
    img(src='dad.jpg')
    img(src='ash.jpg')
    img(src='sophie.jpg')

block blogTitle
    | Hello world

block blog
    p Here is some concept art for the comic!
    p From left to right, top to bottom: Jordan, Jordan (again), Jordan's Mom, Dad, Ash (friend), Sophie (friend)
    