extends ../templates/comic

block variables
    - title = 'Third'
    - description = ''

block comic
    img(src='')
    
block blogTitle
    | Thu Jun 08 2017

block blog
    p.
        blog text lorem ipsum
